<h2>List of Breakers</h2>

<form action="breakers" method="GET">
  Filter by name: <input type="text" name="filter">
  <input type="submit">
</form>

<ul class="list-box">
{{#each breaker}}
<li class="list-item"><a href="/breakers/{{this.slug}}">{{this.breakerName}}</a> - {{this.location}} - {{this.crew}}</li>
{{/each}}
</ul>
