<h3>Event Registration</h3>
<form action="process-event" method="post">
  Event Name: <input type="text" name="name"><br>
  Address: <input type="text" name="address"><br>
  Date: <input type="date" name="date"><br>
  Prize Money: <input type="text" name="prizeMoney"><br>
  Format: <input type="number" name="format"><br>
  Additional Details: <input type="text" name="details"><br>
  <input type="submit" name="Register Event">
</form>
