
<center>
<div class="row">
  <div class="col-md-4">
    <a href="breakers">List of Breakers</a><br>
    <img class="grid" src="/images/breakers-grid.jpg">
  </div>
  <div class="col-md-4">
    <a href="events">List of Events</a><br>
    <img class="grid" src="/images/events-grid.jpeg">
  </div>
  <div class="col-md-4">
    List of Crews
    <img class="grid" src="/images/crew-grid.jpg">
  </div>
</div>
</center>
<br><br><br>
<a href="register/breaker">Breaker Registration</a><br>
<a href="register/event">Event Registration</a><br>
