This page exists solely to fulfill the higher order functions requirements.<br>
Plz no judgment. 

<form action="reqs" method="GET">
  <input type="radio" name="process" value="double">Double each element.<br>
  <input type="radio" name="process" value="remove">Remove numbers less than 20.<br>
  <input type="radio" name="process" value="lowest">Return the lowest number.<br>
  Input a comma separated list of numbers: <input type="text" name="list">
  <input type="submit">
</form>

<ul>
{{#each number}}
  <li>{{this}}</li>
{{/each}}
</ul>
