<h3>Breaker Registration</h3>
<form action="process-breaker" method="post">
  Username: <input type="text" name="username"><br>
  Password: <input type="text" name="password"><br>
  Breaker Name: <input type="text" name="breakerName"><br>
  Location: <input type="text" name="location"><br>
  Crew: <input type="text" name="crew"><br>
  <input type="submit" name="Register Breaker">
</form>
