<h3>Edit Profile</h3>
<form action="edit-submit" method="post">
  Breaker Name: <input type="text" name="breakerName" value="{{breakerName}}"><br>
  Location: <input type="text" name="location" value="{{location}}"><br>
  Bio: <input type="text" name="bio" value="{{bio}}"><br>
  <input type="submit" name="edit">
</form>
