<h3>Log In</h3>
<form action="login" method="post">
  Username: <input type="text" name="username"><br>
  Password: <input type="text" name="password"><br>
  <input type="submit" name="Log In">
</form>

Not registered? Sign up <a href="/register/breaker">here</a>
